body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FADB7D;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 5em;
    text-align: center;
    color: white;
    text-shadow: 
    -0.5px -0.5px 0 #000,  
    0.5px -0.5px 0 #000,
    -0.5px  0.5px 0 #000,
    0.5px  0.5px 0 #000;
}


h2 {
    text-align: center;
    color: white;
    text-shadow: 
    -0.5px -0.5px 0 #000,  
    0.5px -0.5px 0 #000,
    -0.5px  0.5px 0 #000,
    0.5px  0.5px 0 #000;
}

.apostrophe {
    color: white;
    text-shadow: 
    -0.5px -0.5px 0 #000,  
    0.5px -0.5px 0 #000,
    -0.5px  0.5px 0 #000,
    0.5px  0.5px 0 #000;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main {
    display: none;
    flex-direction: column;
    max-width: 800px;
}

button {
  background-color: green;
  color: white;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  margin: 5px auto;

}   

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre-timer {
    text-align: center;
    font-weight: 700;
    color: black;
    margin-top: 5%;
}

.zone-infos {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.regles-jeu {
    background-color: white;
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
    color: #2b2b2b;
    border-radius: 12px;
    padding: 20px 20px;
    text-align: center;
    width: 50%;
}

.cadre-resultat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px 20px;
    max-width: 400px;
    margin: 0 auto 0;
}

.cadre-timer {
    font-size: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5px 20px;
    max-width: 400px;
    margin: 0 auto 0;
}

.timer {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2%;
}

.zone-de-jeu {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 500px;
    margin: 5px auto;
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    flex: 2;
}

.burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.ingredient {
    width: 60px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
}

.pain-haut, .pain-bas {
    display: block;
    width: 200px;
    margin: 0 auto;
}

#game {
    min-height: 200px;
}


.commande {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
    color: #2b2b2b;
    border-radius: 12px;
    padding: 14px 20px;
    margin: 0 0 10px;
    text-align: center;
    padding-bottom: 0;
}

.container-img-client {
    display: flex;
    justify-content: center;
    height: 70px;
}

.commande:empty {
    display: none;
}

.commande::after {
    content: " 🍔 ";
    font-style: normal;
}

#compteur {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
    color: #2b2b2b;
    border-radius: 12px;
    padding: 14px 20px;
    margin: 0 0 10px;
    text-align: center;
}

.contenu-burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cache {
    display: none;
}

#ecran-fin {
    text-align: center;
    padding-top: 50px;
}

#ecran-fin img {
    max-width: 300px;
}

.page-fin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-fin {
    background-color: white;
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
    color: #2b2b2b;
    border-radius: 12px;
    padding: 20px 20px;
    text-align: center;
    width: 50%;
}

@media (max-width: 800px) {
    .zone-infos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}