body {
    font-family: sans-serif;
    margin: 0;
    background-color: #FADB7D;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}

header {
    position: relative;
}

.pain-haut, .pain-bas {
    display: block;
    margin: 0 auto;
    margin-top: 5%;
}

.titre-timer {
    text-align: center;
    font-weight: 700;
    color: black;
    margin-top: 5%;
}

.cadre-timer {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    margin: 5% auto 0;
}

.timer {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2%;
}
#logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 300%;
    padding-left: 2%;
}

#game {
    min-height: 200px;
}